#ignore build directory
\build
\march_6\build
\march_6\checksum\build

#ignore object files
\*.o
\march_10\*.o

#ignore executable files
\*.exe

#ignore temporary files
\*.tmp

#ignore log files
\*.log
