# ignore build directory
\build

# ignore object files
*.o

# ignore executable files
*.exe

# ignore asm.sh, other than in the root directory
**/asm.sh
!/asm.sh

# & ignore asm86.sh, other than in the root directory
**/asm86.sh
!/asm86.sh
